<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div>
<input [(ngModel)]='url' type="text" placeholder="Paste Image URL">
<button (click)="getEmotions()">Done!</button>
<br>
<div>
    Anger: {{score.anger}}%<br>
    Contempt: {{score.contempt}}%<br>
    Disgust: {{score.disgust}}%<br>
    Fear: {{score.fear}}%<br>
    Happiness: {{score.happiness}}%<br>
    Neutral: {{score.neutral}}%<br>
    Sadness: {{score.sadness}}%<br>
    Surprise: {{score.surprise}}%<br>
  </div>
<div style="width: 100%;">
  <div style="width: 100%; position: absolute;">
    <img src="{{url}}">
    <div *ngFor="let box of boundingBoxes; index as i" [ngStyle]="{'width': box.width+'px','height': box.height+'px', 'top':box.top+'px', 'left':box.left+'px', 'position': 'absolute', 'border': '2px solid '+box.border, 'background':box.bgColor}" (click)="resetImage(box,i);">
    </div>
  </div>
</div>


