<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron row">
  <div class="col-4">
    <span class="display-3" style="font-size: 5vw;">{{title}}!</span>
  </div>
    <div class="col-7" style="text-align: right;">
        <i class="fa fa-backward" aria-hidden="true" style="font-size: 4vw; padding-right: 3vw"></i>
        <i class="fa fa-play" aria-hidden="true" style="font-size: 5vw; padding-right: 3vw"></i>
        <i class="fa fa-forward" aria-hidden="true" style="font-size: 4vw; padding-right: 3vw"></i>
        <i class="fa fa-list" aria-hidden="true" style="font-size: 4vw; padding-right: 3vw"></i>
    </div>
  </div>
<div class="form-inline" style="width: 100%; display: flex; align-items: center; justify-content: center;">
  <input class="form-control col-8" [(ngModel)]='url' type="text" placeholder="Paste Image URL" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
  <button (click)="getEmotions()" class="btn btn-primary" style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;">Done!</button>
</div>
<br>
<div class="row">
    <div class="col-9">
        <div style="width: 100%; position: absolute; padding: 40px;">
          <img src="{{url}}" style="width: 80%;" #image>
          <div *ngFor="let box of boundingBoxes; index as i" [ngStyle]="{'width': box.width+'px','height': box.height+'px', 'top':box.top+'px', 'left':box.left+'px', 'position': 'absolute', 'border': '2px solid '+box.border, 'background':box.bgColor}" (click)="resetImage(box,i);">
          </div>
        </div>
      </div>
    <div class="col-2" style="padding: 20px;">
      <app-emotion-panel [value]="score.anger" [name]="'Anger'"></app-emotion-panel>
      <app-emotion-panel [value]="score.contempt" [name]="'Contempt'"></app-emotion-panel>
      <app-emotion-panel [value]="score.disgust" [name]="'Disgust'"></app-emotion-panel>
      <app-emotion-panel [value]="score.fear" [name]="'Fear'"></app-emotion-panel>
      <app-emotion-panel [value]="score.happiness" [name]="'Happiness'"></app-emotion-panel>
      <app-emotion-panel [value]="score.neutral" [name]="'Neutral'"></app-emotion-panel>
      <app-emotion-panel [value]="score.sadness" [name]="'Sadness'"></app-emotion-panel>
      <app-emotion-panel [value]="score.surprise" [name]="'Surprise'"></app-emotion-panel>
    </div>

</div>


